@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .dropdown {
        @apply absolute right-0 left-auto drop-shadow-md text-sm z-10 min-w-10 py-2 bg-white rounded-lg hidden;
    }
    .dropdown .dropdown-submenu {
        @apply absolute left-full -top-2;
    }
}

body {
    min-height: 10000px;
}

.scrolled {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    margin-top: -130px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    -webkit-box-shadow: 0 4px 15px -5px rgb(0 0 0 / 10%);
    box-shadow: 0 4px 15px -5px rgb(0 0 0 / 10%);
}

.awake {
    margin-top: 0px;
    -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
